<?xml version="1.0" encoding="UTF-8"?>
<!--
1. 文件的命名和加载顺序有关
    logback.xml早于application.yml加载，logback-spring.xml晚于application.yml加载
    如果logback配置需要使用application.yml中的属性，需要命名为logback-spring.xml
2. logback使用application.yml中的属性
    使用springProperty才可使用application.yml中的值 可以设置默认值
-->
<configuration debug="false" scan="true" scanPeriod="60 seconds">
    <contextName>example-spring</contextName>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!-- logstore name -->
    <springProperty scope="context" name="logstoreName" source="logging.logstore.name" defaultValue=""/>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
        <encoder>
            <pattern> ${CONSOLE_LOG_PATTERN} </pattern>
        </encoder>
    </appender>

    <logger name="org.apache">
        <level value="info"/>
    </logger>
    <logger name="org.springframework">
        <level value="info"/>
    </logger>
    <logger name="org.mongodb.driver">
        <level value="info"/>
    </logger>
    <logger name="org.hibernate">
        <level value="info"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
        <level value="TRACE"/>
    </logger>
    <logger name="com.github.ltsopensource">
        <level value="DEBUG"/>
    </logger>
    <logger name="com.demo">
        <level value="DEBUG"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
